@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
html {
  background: linear-gradient(45deg, #2f4454, #2e151b);
}

body {
  background: linear-gradient(-90deg, #2f4454, #2e151b) !important;
}

#top {
  background: linear-gradient(45deg, #2f4454, #2e151b);
}

#top > div > p {
  color: #da7b93;
}

h1 {
  color: white;
}

.back {
  background: linear-gradient(90deg, #2f4454, #2e151b);
  color: white;
}

.jumbotron {
  border-radius: 0em !important;
}

.img-11, .img-10, .img-9, .img-8, .img-7, .img-5, .img-6, .img-4, .img-3, .img-2, .img-1 {
  height: 300px;
  background-size: contain;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-1 {
  background-size: cover !important;
  background-image: url(https://cdn-media-1.freecodecamp.org/images/1*rV6_99F42Jr7uR5YtLrHrQ.jpeg);
}

.img-2 {
  background-image: url(https://miro.medium.com/max/960/1*83jSovab7wOQQq-MJDuRgQ.jpeg);
}

.img-3 {
  background-image: url(https://i.ytimg.com/vi/FsYdgKO4AQU/maxresdefault.jpg);
}

.img-4 {
  background-image: url(https://files.realpython.com/media/Advance_Watermarked.7780b18d1990.jpg);
}

.img-6 {
  background-image: url("img/cs50web.jpg");
}

.img-5 {
  background-image: url("img/cs50_project.jpg");
}

.img-7 {
  background-image: url("img/react_frontend.png");
}

.img-8 {
  background-image: url("img/tictactoe.png");
}

.img-9 {
  background-image: url("img/snake.gif");
}

.img-10 {
  background-image: url("img/repl_it.png");
}

.img-11 {
  background-image: url("img/picto2.gif");
}

.blog_link {
  color: #da7b93;
  text-decoration: none;
}

.blog_link:hover {
  color: #376d64;
  text-decoration: none;
}

@media screen and (max-width: 720px) {
  .img-1, .img-2, .img-3, .img-4, .img-6, .img-5, .img-7, .img-8, .img-9, .img-10, .img-11 {
    height: 200px;
  }

  #dates-large {
    display: none;
  }

  #links-large {
    display: none;
  }

  #dates-small {
    display: flex;
  }

  #links-small {
    display: flex;
  }
}
@media screen and (min-width: 721px) {
  #dates-small {
    display: none;
  }

  #links-small {
    display: none;
  }
}
.mobile-dropdown {
  font-size: 1.5em;
}

.dates-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.dates-links .dropdown-menu {
  background-color: #1c3334;
}
.dates-links .dropdown-menu .dropdown-item {
  color: #da7b93;
}
.dates-links .dropdown-menu .dropdown-item:hover {
  background-color: #376d64;
  color: white;
}

#navbar {
  z-index: 999999;
  background-color: #1c3334 !important;
}
#navbar .navbar-nav, #navbar .navbar-collapse {
  margin: 0 !important;
  padding: 0 !important;
}

.nav-item a:hover {
  color: white !important;
  background-color: #376d64 !important;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link {
  color: #da7b93 !important;
  text-decoration: none !important;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  padding-left: 5px !important;
}

.navbar-collapse > .nav-link {
  padding: 5px !important;
  margin: 5px !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
  outline: none !important;
}

#footer {
  background: linear-gradient(-45deg, #2f4454, #2e151b);
  border-top: 10px solid;
  border-color: #1c3334;
}
#footer p {
  color: white;
}
#footer .profile {
  font-size: 30px;
  color: #da7b93;
  transition: transform 0.3s ease-out;
}
#footer .profile:hover {
  transform: translateY(-10px);
  color: #376d64;
}
#footer .profile:focus {
  box-shadow: none !important;
}
#footer .footer-contact {
  color: #da7b93;
  text-decoration: none;
}
#footer .footer-contact:hover {
  color: #376d64;
  text-decoration: none;
}

/* Create four equal columns that sits next to each other */
.column-about {
  flex: 25%;
  max-width: 25%;
  padding: 0 0px;
}
.column-about img {
  margin-top: 0px;
  vertical-align: middle;
  width: 100%;
}

.column-lang {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.column-lang img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-left: 25%;
}

.table {
  background: #1c3334 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.table thead {
  color: #da7b93;
  text-align: center;
}
.table td {
  text-align: center;
  color: white;
  font-weight: lighter;
}
.table tr:hover {
  background: #376d64 !important;
  color: white;
}

@media screen and (max-width: 992px) {
  #table {
    display: none;
  }
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 992px) {
  .column-about, .column-lang {
    flex: 50%;
    max-width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 720px) {
  .column-about {
    flex: 100%;
    max-width: 100%;
  }
}
.overlay-container {
  position: relative;
}
.overlay-container img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.overlay-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: #376d64;
}
.overlay-container .overlay-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay-container .overlay-show {
  position: absolute;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  background-color: #376d64;
}

@media screen and (min-width: 992px) {
  #mobile {
    display: none;
  }

  .overlay-container:hover .overlay {
    opacity: 0.9;
  }
}
.project-title {
  padding: 18px;
}

.content {
  background-color: #1c3334;
  padding: 15px;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content h3 {
  padding: 10px;
  text-align: center;
}

.content:hover, .content:focus {
  background-color: #376d64;
}

.project-img-18, .project-img-17, .project-img-16, .project-img-15, .project-img-14, .project-img-13, .project-img-12, .project-img-11, .project-img-10, .project-img-9, .project-img-8, .project-img-7, .project-img-6, .project-img-5, .project-img-4, .project-img-3, .project-img-2, .project-img-1 {
  height: 150px;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 992px) {
  .project-img-10, .project-img-5 {
    height: 300px !important;
  }
}
@media screen and (min-width: 768px) {
  .project-img-10, .project-img-5 {
    height: 400px !important;
  }
}
.project-img-1 {
  background-image: url("img/tribute_page.jpg");
}

.project-img-2 {
  background-image: url("img/company_page.jpg");
}

.project-img-3 {
  background-image: url("img/technical_document.jpg");
}

.project-img-4 {
  background-image: url("img/survey_form.jpg");
}

.project-img-5 {
  background-image: url("img/cs50_final_project.jpg");
}

.project-img-6 {
  background-image: url("img/homepage.png");
}

.project-img-7 {
  background-image: url("img/book.png");
}

.project-img-8 {
  background-image: url("img/flack.jpg");
}

.project-img-9 {
  background-image: url("img/pizza.png");
}

.project-img-10 {
  background-image: url("img/cs50_web_final_project.png");
}

.project-img-11 {
  background-image: url("img/random_quotes.png");
}

.project-img-12 {
  background-image: url("img/markdown_previewer.png");
}

.project-img-13 {
  background-image: url("img/drum_machine.png");
}

.project-img-14 {
  background-image: url("img/react_calculator.png");
}

.project-img-15 {
  background-image: url("img/cutesee_laptop.png");
}

.project-img-16 {
  background-image: url("img/snake.gif");
}

.project-img-17 {
  background-image: url("img/sudoku.png");
}

.project-img-18 {
  background-image: url("img/picto1.gif");
}

.zoom {
  transition: transform 0.2s;
  /* Animation */
}

.zoom:hover {
  transform: scale(1.1);
}

#mobile .content h3 {
  color: #da7b93;
}

#submit {
  background: #1c3334;
  color: #da7b93;
  transition: 0.3s ease-out;
}

#submit:hover {
  background: #376d64;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img1 {
  background-image: url("img/watchreadrepeat.png");
  display: block;
  width: 100%;
  background-size: contain;
  background-position: center;
}

.img2 {
  background-image: url("img/mysouschef.png");
  display: block;
  width: 100%;
  background-size: contain;
  background-position: center;
}

.img3 {
  background-image: url("img/cutesee_index.png");
  display: block;
  width: 100%;
  background-size: contain;
  background-position: center;
}

.img4 {
  background-image: url("img/picto.png");
  display: block;
  width: 100%;
  background-size: contain;
  background-position: center;
}

.hero-slides {
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero-slides .single-hero-slide {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-slides .single-hero-slide {
    height: 80vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-slides .single-hero-slide {
    height: 75vh;
  }
}
@media only screen and (max-width: 767px) {
  .hero-slides .single-hero-slide {
    height: 60vh;
  }
}
.hero-slides .single-hero-slide .hero-slides-content {
  display: block;
  position: relative;
  z-index: 1;
  padding: 10px;
  border-left: 3px solid #1c3334;
  margin: 10px;
  background-color: rgba(55, 109, 100, 0.7);
}

@media only screen and (max-width: 767px) {
  .hero-slides .single-hero-slide .hero-slides-content {
    padding: 5px;
  }
}
.hero-slides .single-hero-slide .hero-slides-content h5 {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .hero-slides .single-hero-slide .hero-slides-content h5 {
    font-size: 15px;
    margin-bottom: 5px;
  }
}
.hero-slides .single-hero-slide .hero-slides-content p {
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  .hero-slides .single-hero-slide .hero-slides-content p {
    font-size: 11px;
    margin-bottom: 5px;
  }
}

/*# sourceMappingURL=styles.css.map */
